header {
  background-image: url("../../../sv_print/img/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
header .undraggle {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
header .row {
  position: absolute;
  top: 465px;
  left: 0;
  width: 146px;
  height: 10px;
  background-color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header nav .logo {
  width: 130px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  header nav .logo {
    width: 15%;
  }
}
header nav .burger {
  width: 80px;
  margin: 20px;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  header nav .burger {
    display: none;
  }
}
header nav .links {
  display: none;
  justify-content: space-between;
}
@media screen and (min-width: 769px) {
  header nav .links {
    display: flex;
  }
}
header nav li a {
  text-decoration: none;
  color: #FFF;
  padding: 20px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  header nav li a {
    padding-inline: 10px 20px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  header nav li a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  header nav li a {
    font-size: 24px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2500px) {
  header nav li a {
    font-size: 30px;
  }
}
header nav .sub_mobile {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100px;
  background-color: #0990eb;
  z-index: 1000;
}
header nav .sub_mobile li {
  margin: 60px 0;
}
header .slogan_with_image {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-bottom: 90px;
}
header .slogan_with_image .image {
  width: 150px;
  padding: 20px 0;
}
header .slogan_with_image .image img {
  width: 100%;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  header .slogan_with_image .image {
    width: 200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .slogan_with_image .image {
    width: 250px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  header .slogan_with_image .image {
    order: 2;
    width: 300px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  header .slogan_with_image .image {
    order: 2;
    width: 300px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  header .slogan_with_image .image {
    order: 2;
    width: 350px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  header .slogan_with_image .image {
    order: 2;
    width: 450px;
  }
}
@media screen and (min-width: 2001px) and (max-width: 2500px) {
  header .slogan_with_image .image {
    order: 2;
    width: 550px;
  }
}
header .slogan_with_image .slogan p {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Bison", sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
  width: 285px;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  header .slogan_with_image .slogan p {
    font-size: 40px;
    width: 315px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .slogan_with_image .slogan p {
    font-size: 50px;
    width: 370px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  header .slogan_with_image .slogan p {
    font-size: 60px;
    width: 430px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  header .slogan_with_image .slogan p {
    font-size: 60px;
    width: 430px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  header .slogan_with_image .slogan p {
    font-size: 70px;
    width: 500px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  header .slogan_with_image .slogan p {
    font-size: 90px;
    width: 650px;
  }
}
@media screen and (min-width: 2001px) and (max-width: 2600px) {
  header .slogan_with_image .slogan p {
    font-size: 100px;
    width: 670px;
  }
}
@media screen and (min-width: 769px) and (max-width: 2000px) {
  header .slogan_with_image {
    padding: 70px 0 220px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 2001px) and (max-width: 2500px) {
  header .slogan_with_image {
    padding: 70px 0 220px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.display_none {
  display: none;
}

.about,
.tips {
  margin: 50px 0;
}

.content {
  margin: 0 auto;
  padding: 20px;
}
.content .image {
  position: relative;
  width: 60%;
  margin: 20px auto;
}
.content .image img {
  width: 100%;
  position: relative;
  z-index: 100;
}
.content .image .rectangle {
  position: absolute;
  background-color: #068EE8;
  width: 100%;
  height: 100%;
  bottom: 15px;
  left: 15px;
  z-index: 50;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .content .image {
    width: 30%;
    height: 30%;
    margin: 0;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .content .image {
    width: 30%;
    height: 30%;
    margin: 0;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .content .image {
    width: 40%;
    height: 40%;
    margin: 0;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .content .image {
    width: 40%;
    height: 40%;
    margin: 0;
  }
}
.content .description .text {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
}
.content .description .text h2 {
  font-family: "bison", sans-serif;
  letter-spacing: 5px;
  margin-top: 20px;
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .content .description .text h2 {
    font-size: 34px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .content .description .text h2 {
    font-size: 44px;
  }
}
.content .description .text h2 span {
  display: inline-block;
}
.content .description .text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10px 0;
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .content .description .text p {
    font-size: 24px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .content .description .text p {
    font-size: 34px;
  }
}
.content .description .text button {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 5px 20px;
  background-color: #156592;
  border: none;
  border-radius: 20px;
}
.content .description .text button:hover {
  background-color: #2174a3;
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .content .description .text button {
    margin-top: 20px;
    padding: 15px 80px;
    font-size: 24px;
    border-radius: 30px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .content .description .text {
    max-width: 525px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .content .description .text {
    max-width: 675px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .content .description {
    width: 40%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2500px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .service .content {
    display: block;
  }
}

.top .text {
  position: relative;
  border-top: #FFD18C solid 3px;
  border-left: #FFD18C solid 3px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .top .text {
    border-top: none;
    border-left: none;
  }
  .top .text:before {
    content: "";
    position: absolute;
    left: 0;
    width: 200px;
    height: 250px;
    border-top: #FFD18C solid 5px;
    border-left: #FFD18C solid 5px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .top .text {
    border-top: none;
    border-left: none;
  }
  .top .text:before {
    content: "";
    position: absolute;
    left: 0;
    width: 200px;
    height: 250px;
    border-top: #FFD18C solid 5px;
    border-left: #FFD18C solid 5px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .top .text {
    border-top: none;
    border-left: none;
  }
  .top .text:before {
    content: "";
    position: absolute;
    left: 0;
    width: 200px;
    height: 250px;
    border-top: #FFD18C solid 8px;
    border-left: #FFD18C solid 8px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .top .text {
    border-top: none;
    border-left: none;
  }
  .top .text:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0px;
    width: 320px;
    height: 480px;
    border-top: #FFD18C solid 8px;
    border-left: #FFD18C solid 8px;
  }
}

.bottom .text {
  position: relative;
  border-bottom: #FFD18C solid 3px;
  border-right: #FFD18C solid 3px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .bottom .text {
    border-bottom: none;
    border-right: none;
  }
  .bottom .text:before {
    content: "";
    position: absolute;
    right: 0;
    width: 200px;
    height: 250px;
    border-bottom: #FFD18C solid 5px;
    border-right: #FFD18C solid 5px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .bottom .text {
    border-bottom: none;
    border-right: none;
  }
  .bottom .text:before {
    content: "";
    position: absolute;
    right: 0;
    width: 200px;
    height: 250px;
    border-bottom: #FFD18C solid 5px;
    border-right: #FFD18C solid 5px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .bottom .text {
    border-bottom: none;
    border-right: none;
  }
  .bottom .text:before {
    content: "";
    position: absolute;
    right: 0;
    width: 200px;
    height: 250px;
    border-bottom: #FFD18C solid 5px;
    border-right: #FFD18C solid 5px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  .bottom .text {
    border-bottom: none;
    border-right: none;
  }
  .bottom .text:before {
    content: "";
    position: absolute;
    right: 0;
    width: 480px;
    height: 480px;
    border-bottom: #FFD18C solid 8px;
    border-right: #FFD18C solid 8px;
  }
}

footer {
  position: relative;
  margin-top: 300px;
  background-color: #0099FF;
}
footer:before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 233px;
  background-image: url("../../../sv_print/img/wave_footer.svg");
  background-size: cover;
}
footer .liste {
  width: 65%;
  margin: 0 auto;
  padding: 15px;
}
footer .liste .category_title {
  position: relative;
  margin: 10px 0 15px 0;
}
footer .liste .category_title p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  footer .liste .category_title p {
    font-size: 24px;
  }
}
footer .liste .category_title:after {
  content: "";
  position: absolute;
  top: 25px;
  width: 80px;
  border-bottom: solid white 2px;
}
@media screen and (min-width: 1601px) and (max-width: 2000px) {
  footer .liste .category_title:after {
    top: 30px;
    width: 100px;
    border-bottom: solid white 3px;
  }
}
footer .liste ul li {
  padding: 5px;
  color: white;
  display: flex;
  align-items: center;
}
footer .liste ul li img {
  margin-right: 10px;
}
footer .liste ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1601px) and (max-width: 20000px) {
  footer .liste ul li a {
    font-size: 20px;
  }
}
footer .liste .networks {
  padding: 25px 0 0 0;
  display: flex;
}
footer .liste .networks li {
  display: inline;
  width: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  footer .liste {
    width: 285px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2600px) {
  footer .liste {
    width: 285px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  footer > ul {
    display: flex;
    flex-flow: column wrap;
    height: 380px;
  }
}
@media screen and (min-width: 1601px) and (max-width: 2600px) {
  footer > ul {
    display: flex;
    flex-flow: column wrap;
    height: 380px;
  }
}

@font-face {
  font-family: "Bison";
  src: url("../font/Bison-Bold.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*# sourceMappingURL=about.css.map */
