header {
  background-image: url("../../../sv_print/img/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
header .undraggle {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header nav .logo {
  width: 130px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  header nav .logo {
    width: 15%;
  }
}
header nav .burger {
  width: 80px;
  margin: 20px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header nav .burger {
    display: none;
  }
}
header nav .links {
  display: none;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  header nav .links {
    display: flex;
  }
}
header nav li a {
  text-decoration: none;
  color: #FFF;
  padding: 20px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
header nav .sub_mobile {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100px;
  background-color: #0990eb;
  z-index: 1000;
}
header nav .sub_mobile li {
  margin: 60px 0;
}
header .slogan_with_image {
  display: flex;
  align-items: center;
  flex-flow: column;
}
header .slogan_with_image .image {
  width: 150px;
}
header .slogan_with_image .image img {
  width: 100%;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  header .slogan_with_image .image {
    width: 200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .slogan_with_image .image {
    width: 250px;
  }
}
header .slogan_with_image .slogan p {
  color: #FFF;
  text-transform: uppercase;
  font-family: "Bison", sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
  width: 285px;
  margin-bottom: 100px;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  header .slogan_with_image .slogan p {
    font-size: 40px;
    width: 315px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  header .slogan_with_image .slogan p {
    font-size: 50px;
    width: 370px;
  }
}

.display_none {
  display: none;
}

.about,
.tips {
  margin: 50px 0;
}

.content {
  margin: 0 auto;
  padding: 20px;
}
.content .image {
  position: relative;
  width: 60%;
  margin: 20px auto;
}
.content .image img {
  width: 100%;
  position: relative;
  z-index: 100;
}
.content .image .rectangle {
  position: absolute;
  background-color: #068EE8;
  width: 100%;
  height: 100%;
  bottom: 15px;
  left: 15px;
  z-index: 50;
}
.content .description .text {
  margin: 0 auto;
  max-width: 420px;
  padding: 20px;
}
.content .description .text h2 {
  font-family: "bison", sans-serif;
  letter-spacing: 5px;
  margin-top: 20px;
}
.content .description .text h2 span {
  display: inline-block;
}
.content .description .text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10px 0;
}
.content .description .text button {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 5px 20px;
  background-color: #156592;
  border: none;
  border-radius: 20px;
}
.content .description .text button:hover {
  background-color: #2174a3;
}

.top .text {
  border-top: #FFD18C solid 3px;
  border-left: #FFD18C solid 3px;
}

.bottom .text {
  border-bottom: #FFD18C solid 3px;
  border-right: #FFD18C solid 3px;
}

@font-face {
  font-family: "Bison";
  src: url("../font/Bison-Bold.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service {
  background-color: #EDEBEB;
}
.service .text {
  text-align: center;
  max-width: 475px;
  margin: 0 auto;
}
.service .text h2 {
  font-family: "bison", sans-serif;
  letter-spacing: 4px;
}
.service .text p {
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
}
.service .example_image {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.service .example_image img {
  width: 80%;
  margin: 20px 0;
}

/*# sourceMappingURL=style.css.map */
