footer {
  background-color: #0099FF;


  .liste {
    width: 65%;
    margin: 0 auto;
    padding: 15px;
    .category_title {
      position: relative;
      margin: 10px 0 15px 0;

      p {
        font: {
          family: "Roboto", sans-serif;
          weight: bold;
        }
        color: white;

        @media screen and (min-width: 1601px) and (max-width: 2000px) {
          font-size: 24px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 25px;
        width: 80px;
        border-bottom: solid white 2px;

        @media screen and (min-width: 1601px) and (max-width: 2000px) {
          top: 30px;
          width: 100px;
          border-bottom: solid white 3px;
        }
      }
    }

    ul {
      li {
        padding: 5px;
        color: white;
        display: flex;
        align-items: center;

        img {
          margin-right: 10px;
        }
        a {
          font: {
            family: "Roboto", sans-serif;
            weight: lighter;
          }
          text-decoration: none;
          color: white;
          @media screen and (min-width: 1601px) and (max-width: 2000px) {
            font-size: 20px;
          }
        }
      }
    }

    .networks {
      padding: 25px 0 0 0  ;
      display: flex;
      li {
        display: inline;
        width: 50px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1600px) {
      width: 285px;
    }
    @media screen and (min-width: 1601px) and (max-width: 2600px) {
      width: 285px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1600px) {
    & > ul {
      display: flex;
      flex-flow: column wrap;
      height: 380px;
    }
  }
  @media screen and (min-width: 1601px) and (max-width: 2600px) {
    & > ul {
      display: flex;
      flex-flow: column wrap;
      height: 380px;
    }
  }

}
