header {
  background: {
    image: url("../../../sv_print/img/background_header.svg");
    size: cover;
    repeat: no-repeat;
  }

  .undraggle {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
      width: 130px;
      margin: 20px;

      @media screen and (min-width: 768px) {
        width: 15%;
      }
    }

    .burger {
      width: 80px;
      margin: 20px;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .links {
      display: none;
      justify-content: space-between;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    li {


      a {
        text-decoration: none;
        color: #FFF;
        padding: 20px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
      }
    }

    .sub_mobile {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 100px;
      background-color: #0990eb;
      z-index: 1000;

      li {
        margin: 60px 0;
      }
    }

    @media screen and (min-width: 768px) {

    }

  }

  .slogan_with_image {
    display: flex;
    align-items: center;
    flex-flow: column;

    .image {
      width: 150px;
      img {
        width: 100%;
      }
      @media screen and (min-width: 400px) and (max-width: 600px) {
        width: 200px;
      }
      @media screen and (min-width: 600px) and (max-width: 768px) {
        width: 250px;
      }
    }

    .slogan {

      p {
        color: #FFF;
        text-transform: uppercase;
        font: {
          family: "Bison", sans-serif;
          size: 35px;
        }
        letter-spacing: 5px;
        width: 285px;
        margin-bottom: 100px;

        @media screen and (min-width: 400px) and (max-width: 600px) {
          font-size: 40px;
          width: 315px;
        }
        @media screen and (min-width: 600px) and (max-width: 768px) {
          font-size: 50px;
          width: 370px;
        }
      }
    }

  }

}
.display_none {
  display: none;
}



