header {
  background: {
    image: url("../../../sv_print/img/background_header.svg");
    size: cover;
    repeat: no-repeat;
  }

  .undraggle {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .row {
    position: absolute;
    top: 465px;
    left: 0;
    width: 146px;
    height: 10px;
    background-color: white;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
      width: 130px;
      margin: 20px;

      @media screen and (min-width: 768px) {
        width: 15%;
      }
    }

    .burger {
      width: 80px;
      margin: 20px;
      cursor: pointer;

      @media screen and (min-width: 769px) {
        display: none;
      }
    }

    .links {
      display: none;
      justify-content: space-between;

      @media screen and (min-width: 769px) {
        display: flex;
      }
    }

    li {


      a {
        text-decoration: none;
        color: #FFF;
        padding: 20px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;

        @media screen and (min-width: 769px) and (max-width: 992px){
          padding-inline: 10px 20px;
        }

        @media screen and (min-width: 993px) and (max-width: 1200px){
          font-size: 20px;
        }

        @media screen and (min-width: 1201px) and (max-width: 1600px){
          font-size: 24px;
        }

        @media screen and (min-width: 1601px) and (max-width: 2500px){
          font-size: 30px;
        }
      }
    }

    .sub_mobile {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 100px;
      background-color: #0990eb;
      z-index: 1000;

      li {
        margin: 60px 0;
      }
    }

    @media screen and (min-width: 768px) {

    }

  }

  .slogan_with_image {
    display: flex;
    align-items: center;
    flex-flow: column;

    padding-bottom: 90px;

    .image {
      width: 150px;
      padding: 20px 0;
      img {
        width: 100%;
      }
      @media screen and (min-width: 400px) and (max-width: 600px) {
        width: 200px;
      }
      @media screen and (min-width: 600px) and (max-width: 768px) {
        width: 250px;
      }
      @media screen and (min-width: 769px) and (max-width: 992px){
        order: 2;
        width: 300px;
      }
      @media screen and (min-width: 993px) and (max-width: 1200px){
        order: 2;
        width: 300px;
      }
      @media screen and (min-width: 1201px) and (max-width: 1600px){
        order: 2;
        width: 350px;
      }
      @media screen and (min-width: 1601px) and (max-width: 2000px){
        order: 2;
        width: 450px;
      }
      @media screen and (min-width: 2001px) and (max-width: 2500px){
        order: 2;
        width: 550px;
      }
    }

    .slogan {

      p {
        color: #FFF;
        text-transform: uppercase;
        font: {
          family: "Bison", sans-serif;
          size: 35px;
        }
        letter-spacing: 5px;
        width: 285px;

        @media screen and (min-width: 400px) and (max-width: 600px) {
          font-size: 40px;
          width: 315px;
        }
        @media screen and (min-width: 600px) and (max-width: 768px) {
          font-size: 50px;
          width: 370px;
        }
        @media screen and (min-width: 769px) and (max-width: 992px){
          font-size: 60px;
          width: 430px;
        }
        @media screen and (min-width: 993px) and (max-width: 1200px){
          font-size: 60px;
          width: 430px;
        }
        @media screen and (min-width: 1201px) and (max-width: 1600px){
          font-size: 70px;
          width: 500px;
        }
        @media screen and (min-width: 1601px) and (max-width: 2000px){
          font-size: 90px;
          width: 650px;
        }
        @media screen and (min-width: 2001px) and (max-width: 2600px){
          font-size: 100px;
          width: 670px;
        }
      }

      @media screen and (min-width: 769px) and (max-width: 1600px){

      }
    }

    @media screen and (min-width: 769px) and (max-width: 2000px){
      padding: 70px 0 220px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    @media screen and (min-width: 2001px) and (max-width: 2500px){
      padding: 70px 0 220px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

}
.display_none {
  display: none;
}



